{% comment %}
	This is the html for displaying an individual badge on the site. It expects that
	you will pass it a badge object called "badge".

	Here is an example:
	<div class="badges">
		{% for badge in user_profile.user.badges.all %}
			{% include "badges/badge.html" %}
		{% endfor %}
	</div>

{% endcomment %}
{% load static %}
<a href="{{ badge.get_absolute_url }}" title="{{ badge.title }} ({{ badge.get_level_display }}): {{ badge.description }}">
	<img src="/media/{{ badge.icon }}" width="25" height="25">
	<span class="level_{{ badge.level}} metal">●</span> {{ badge.title }}
</a>
