{% extends "badges/overview.html" %}
{% load badges_tags %}
{% load humanize %}

{% block content %}
<div id="badges_tank">
	<h1>{% block head_title %}Badge: {{ badge.title }}{% endblock %}</h1>
    <p class="info_blurb">{{ badge.description }}</p>
   		{% if badge.icon %}<img src="{{ MEDIA_URL }}{{ badge.icon.url }}" width="100" height="100">{% endif %}
	<ul class="users">
		{% for u in users %}
			<li><a href='{{ u.get_absolute_url }}'>{{ u.username }}</a></li>
		{% empty %}
			<li>Nobody has earned this badge!</li>
		{% endfor %}
    </ul>
</div>
{% endblock %}